<div class="module panel panel-default status_<%= mod.run_status %>" id="module_<%= mod.module_name.underscore %>">
  <div class="panel-heading"><h2 class="panel-title"><%= module_title mod %></h2></div>
  <ul class="list-group">
    <%= render_module_status mod %>
    <%= render_module_form mod %>
    <%= render_module_info mod %>
  </ul>
</div>
