<%= include_modules_support %>
<div class="module_graph graph_<%= @ingestion_process.run_status %>">
  <%= traverse_graph @ingestion_process do |mod| %>
    <div class="module_container" id="module_container_<%= mod.module_name.underscore %>">
      <div style="display:none" class="module_timestamp" id="module_timestamp_<%= mod.module_name.underscore %>"><%= mod.change_time || 0 %></div>
      <%= render_module mod %>
    </div>
  <% end %>
</div>
