<%- model_class = Hilda::IngestionProcess -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @ingestion_processes.each do |ingestion_process| %>
      <tr>
        <td><%= link_to ingestion_process.to_s, edit_hilda_ingestion_process_path(ingestion_process) %></td>
        <td><span class='graph_status <%= ingestion_process.run_status %>'><%= ingestion_process.run_status %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hilda_ingestion_process_path,
            :class => 'btn btn-primary' %>
